[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
djangorestframework = "*"
django = "*"
djangorestframework-jwt = "*"
django-filter = "*"
django-cors-headers = "*"
pandas = "*"
psycopg2-binary = "*"
nameparser = "*"
google-cloud-storage = "*"
xlrd = "*"

[requires]
python_version = "3.7"
