#content-wrapper {
    max-width: 860px;
}

html, body {
    background: #2d3035;
}

.fa-minus-square:hover {
    cursor: pointer;
}

#download-form {
    display: flex;
    flex-wrap: wrap;
}

#download-form p {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

#download-form div, #download-form div input {
    width: 100%;
}