@import 'sb-admin-2';

.fa-minus-square:hover {
  cursor: pointer;
}

// Copy of the Bootstrap code since django-filters
// is laying out the form fields. Equal to form-control
p > input, p > select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select[multiple] {
  height: 5em;
}

input[id*=date][id*=range] {
  width: 47%;
  display: inline-block;
}

label[for*=date] {
  display: block;
}
