{% include 'email_gen/date-fields.html' %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.lic_type.id_for_label }}">License Status</label>
            {{ form.lic_type }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.lic_status.id_for_label }}">License Status</label>
            {{ form.lic_status }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.regions.id_for_label }}"></label>
            {{ form.regions }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.counties.id_for_label }}"></label>
            {{ form.counties }}
        </div>
    </div>
</div>