<div class="form-group row">
    <label for="email-domains" class="col-2 col-form-label">{{ field_label }}</label>
    <div class="col-5">
        <input
                type="text"
                id="email-domains"
                name="email-domains-values"
                class="form-control">
    </div>
    <div class="col">
        <div class="custom-control custom-radio custom-control-inline">
            <input
                    type="radio"
                    id="domains-inclusive"
                    name="email-domains-inclusive"
                    class="custom-control-input"
                    value="1">

            <label class="custom-control-label" for="domains-inclusive">Inclusive</label>
        </div>
    </div>
    <div class="col">
        <div class="custom-control custom-radio custom-control-inline">
            <input
                    type="radio"
                    id="domains-exclusive"
                    name="email-domains-inclusive"
                    class="custom-control-input"
                    value="0"
                    checked>

            <label class="custom-control-label" for="domains-exclusive">Exclusive</label>
        </div>
    </div>
</div>