<div class="form-group row">
    <label for="email-domains" class="col col-form-label">Email Domains</label>
    <div class="col">
        <input
                type="text"
                id="email-domains"
                name="email-domains"
                class="form-control">
    </div>
    <div class="col">
        <div class="custom-control custom-radio custom-control-inline">
            <input
                    type="radio"
                    id="{{ field_label }}-inclusive"
                    name="{{ field_label }}-domains"
                    class="custom-control-input"
                    checked>

            <label class="custom-control-label" for="{{ field_label }}-inclusive">Inclusive</label>
        </div>
    </div>
    <div class="col">
        <div class="custom-control custom-radio custom-control-inline">
            <input
                    type="radio"
                    id="{{ field_label }}-exclusive"
                    name="{{ field_label }}-domains"
                    class="custom-control-input">

            <label class="custom-control-label" for="{{ field_label }}-exclusive">Exclusive</label>
        </div>
    </div>
</div>