<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="email-domains">Email Domains</label>
            <input type="text" id="email-domains" name="email-domains">
        </div>
    </div>
    <div class="col-3 d-flex align-items-end pb-4">
        <div class="form-check">
            <input type="checkbox" name="email-domains-inclusive" id="email-domains-inclusive">
            <label for="email-domains-inclusive"
                   class="form-check-label">Inclusive</label>
        </div>
    </div>
</div>