{% extends 'template.html' %}

{% load static %}

{% block custom_scripts %}
    <script src="{% static 'js/save-confirm.js' %}"></script>
{% endblock custom_scripts %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ source.display_name }}</h6>
                </div>
                <div class="card-body">
                    <form id="save-list">
                        {% csrf_token %}
                        <input type="hidden" name="file_name" value="{{ source.file_name }}">
                        {% for field_label, sample_values in list_data %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="field-labels">Field Label</label>
                                        <select name="field_labels"
                                                id="field-labels"
                                                class="form-control">
                                            {% for opt in field_opts %}
                                                <option
                                                        value="{{ opt }}"
                                                        {% if field_label == opt %}selected{% endif %}>
                                                    {{ opt }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="table-responsive">
                                        <table
                                                class="table table-bordered table-sm"
                                                id="dataTable"
                                                width="100%"
                                                cellspacing="0"
                                                style="font-size: 0.8em;">
                                            <thead>
                                            <tr>
                                                <th>Column Sample</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for val in sample_values %}
                                                <tr>
                                                    <td>
                                                        {{ val }}&ensp;
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" value="Save List">
                        <div class="progress d-none mt-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                 role="progressbar"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 100%"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}