{% extends 'template.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            <h1 class="h3 mb-2 text-gray-800">
                {{ list_data.display_name }}
            </h1>
            <span class="badge badge-primary">
            {{ list_data.updated }}
        </span>
            <small> - UPLOADED</small>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <form action="#" method="POST" id="download-form">
                            {% csrf_token %}
                            <div class="container">
                                <form action="" method="get">
                                    {{ filter.form.as_p }}
                                    <input class="btn btn-primary" type="submit" value="Submit">
                                </form>
                                Result count: {{ filter.qs.count }}
                                {#                                {% for field_label in list_data.field_labels %}#}
                                {#                                    {% if 'email' in field_label %}#}
                                {#                                        {% include 'email_gen/form-group-email.html' %}#}
                                {#                                    {% elif 'date' in field_label %}#}
                                {#                                        {% include 'email_gen/form-group-date.html' %}#}
                                {#                                    {% else %}#}
                                {#                                        {% include 'email_gen/form-group-text.html' %}#}
                                {#                                    {% endif %}#}
                                {#                                {% endfor %}#}
                                {#                                <input class="btn btn-primary" type="submit" value="Submit">#}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}