{% extends 'template.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            <h1 class="h3 mb-2 text-gray-800">
                {{ source_instance.display_name }}
            </h1>
            <span class="badge badge-primary">
                {{ source_instance.update_date }}
            </span>
            <small> - UPLOADED</small>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <form action="" method="get" id="download-form">
                            <div class="form-group">
                                <label for="filename">File Name</label>
                                <input type="text" id="filename" name="filename" class="form-control">
                            </div>
                            {{ filter.form.as_p }}
                            <div>
                                <input type="submit" class="btn btn-primary" value="Download"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}