{% extends 'template.html' %}

{% block content %}

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col mb-4">
            {% if not instance == None %}
                <div class="alert alert-success d-flex justify-content-between align-items-center">
                    <p class="mb-0">
                        File upload successful.
                    </p>
                    <a href="/download/{{ instance.list_type }}/" class="btn btn-success btn-sm">Go to {{ instance.display_name }}</a>
                </div>
            {% endif %}
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload File</h6>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="/upload/" method="POST" id="upload-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.type.label_tag }}
                            {{ form.type }}
                        </div>
                        <div class="form-group">
                            {{ form.file.label_tag }}
                            {{ form.file }}
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}