{% extends 'template.html' %}

{% block content %}

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-md-4 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload List</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="current-lists">Existing Lists</label>
                        <select name="current-lists" id="current-lists" class="form-control">
                            <option value="">---------------</option>
                            {% for source_list in available_lists %}
                                <option value="{{ source_list.display_name }}">
                                    {{ source_list.display_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <form enctype="multipart/form-data" action="/upload/" method="POST" id="upload-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.list_name.label_tag }}
                            {{ form.list_name }}
                        </div>
                        <div class="form-group">
                            {{ form.file.label_tag }}
                            {{ form.file }}
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}