{% extends 'template.html' %}

{% load static %}

{% block custom_scripts %}
    <script src="{% static 'js/form-handler.js' %}"></script>
{% endblock custom_scripts %}

{% block content %}
    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-md-4 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Upload List</h6>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="/upload/" method="POST" id="upload-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.existing_lists.label_tag }}
                            {{ form.existing_lists }}
                        </div>
                        <div class="form-group">
                            {{ form.new_list.label_tag }}
                            {{ form.new_list }}
                        </div>
                        <div class="form-group">
                            {{ form.file.label_tag }}
                            {{ form.file }}
                        </div>
                        <button type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-cog"></i>
                            </span>
                            <span class="text">Submit</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}